<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.themenate.net/enlink-bs/dist/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Nov 2023 07:19:13 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GW Magazine</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Student/assets/images/logo/Logo-project.png">

    <!-- page css -->
    <!-- Core css -->
    <link href="~/student/assets/css/app.min.css" rel="stylesheet" />
</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            <div class="header">
                
                <nav class="nav nav-wrap">
                    <ul class="nav-left">    
                        <a asp-controller="Home" asp-action="Student"><img src="~/Student/assets/images/logo/Logo-project.png" height="50px" width="50px" /> </a>
                        
                    </ul>
                    <ul class="nav-right">
                        
                        <a asp-controller="Home" asp-action="Student">Home</a>
                    </ul>
                    <ul class="nav-right">
                        <a asp-controller="Contributions" asp-action="Index">Contributions</a>
                    </ul>
                    <ul class="nav-right">
                        <a asp-controller="Home" asp-action="Person">Message</a>
                    </ul>
                    
                    <ul class="nav-right">
                        
                        
                        
                        
                            <!--Login or Logout-->
                            <partial name="_profilePartial" />
                       
                        
                    </ul>
                </nav>
            </div>
            <!-- Header END -->
          <!-- Page Container START -->
            <div class="page-container">


                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                <footer class="footer">
                    <div class="footer-content justify-content-center">
                        
                        <span>
                            <a href="/rule" class="text-gray m-r-15">Term &amp; Conditions </a>
                            © Copyrighting by team High Five
                            <a href="#" class="text-gray m-l-25">About Us </a>
                            <span><a href="https://forms.gle/hWEmjqspx9cgpWGm8" target="_blank">Send Feedback</a></span>
                        </span>

                    </div>

                    
                </footer>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->
            
        </div>
    </div>


    <!-- Core Vendors JS -->
    <script src="~/Student/assets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/Student/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/Student/assets/js/pages/dashboard-default.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>


    <!-- Core JS -->
    <script src="~/Student/assets/js/app.min.js"></script>


    @await Component.InvokeAsync("Notyf");
    @await RenderSectionAsync("Scripts", required: false)


</body>


<!-- Mirrored from www.themenate.net/enlink-bs/dist/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Nov 2023 07:20:55 GMT -->
</html>