
@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<H5>Admin</H5>
    

     
<div class="row">


<div class="card col-lg-6">
    <div class="card-body">
        <div style="text-align:center"> 
            <h6>Account Role</h6>
            <canvas id="AccountChart" ></canvas>
        </div>

    </div>
</div>

    <div class="card col-lg-6">
        <div class="card-body">
            <div style="text-align:center">
                <h6>Account Faculty</h6>
                <canvas id="productChart"></canvas>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('AccountChart').getContext('2d');
        var myChart = new Chart(ctx, {
            
            type: 'pie',
            data: {
                labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.roleName)),
                datasets: [{
                    label: 'Number of Account',
                    data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.accountCounts)),
                backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)', 
                        'rgba(255, 206, 86, 0.2)', 
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(153, 102, 255, 0.2)', 
                ],
                borderColor: [
                        'rgba(255, 99, 132, 1)', 
                        'rgba(54, 162, 235, 1)', 
                        'rgba(255, 206, 86, 1)', 
                        'rgba(75, 192, 192, 1)', 
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'  
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    </script>

    <script>
        var ctx = document.getElementById('productChart').getContext('2d');
        var myChart = new Chart(ctx, {

            type: 'doughnut',
            data: {
                labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.facultyName)),
                datasets: [{
                    label: 'Number of Account',
                    data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.facultyCounts)),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>
   
}