@model Manage_System.ModelViews.ContributionsModelView

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h2 class="header-title">Contributions Post</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="#">Contributions</a>
            <span class="breadcrumb-item active">Contributions Post</span>
        </nav>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <div class="container">
            <h2 class="font-weight-normal m-b-10">@Model.Title</h2>
            <div class="d-flex m-b-30">
                <div class="avatar avatar-cyan avatar-img">
                    @if (Model.User.Avatar != null)
                    {
                        <img src="~/Uploads/@Model.User.Avatar" alt="">
                    }
                    else
                    {
                        <img src="~/images/NoImage.png" alt="">
                    }

                </div>
                <div class="m-l-15">
                    <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">@Model.User.FullName</a>
                    <p class="m-b-0 text-muted font-size-13">@Model.SubmissionDate  </p>
                </div>
            </div>
            <div class="row">
                @foreach (var img in Model.ImgFiles)
                {
                    if (img.Stype == "Img")
                    {
                        <img alt="" style="height:200px;width:150px" src="~/Uploads/@img.Url">

                    }
                    
                }
            </div>



            <div class="m-t-30">
                @foreach (var img in Model.ImgFiles)
                {
                    if (img.Stype == "File")
                    {
                        <span>File</span>

                    }
                }
            </div>




            <hr>



        </div>
    </div>


</div>



@*
<div class="m-t-30">
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div> *@