

@model IEnumerable<Manage_System.models.User>


@foreach (var user in Model)
{
    <form asp-controller="Home" asp-action="Index" asp-route-id="@user.Id">
        @user.FullName
        <button id="submit"></button>
    </form>
}