@model Manage_System.ModelViews.LoginViewModel

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.themenate.net/enlink-bs/dist/login-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Nov 2023 07:24:20 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Student/assets/images/logo/Logo-project.png">
    <!-- page css -->
    <!-- Core css -->
    <link href="~/Student/assets/css/app.min.css" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-0 h-100">
            <div class="row no-gutters h-100 full-height">
                <div class="col-lg-4 d-none d-lg-flex bg"
                     style="background-image:url('/Student/assets/images/others/login-1.jpg')"
                     >
                    <div class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between" style="trantransition: opacity 0.3s ease-in-out">
                        <div>
                            
                            <img src="/Student/assets/images/logo/Logo-project.png" alt="" width="200px" height="200px">
                            
                        </div>
                        <div>
                           
                            <h1 class="text-black m-b-20 font-weight-normal">Exploring New Thing</h1>
                            <p class=" font-size-16 lh-2 w-80" style="color:black">
                                University magazine: a vibrant mosaic of student voices, ideas, and creativity, capturing the essence of campus life and exploration..
                            </p>
                            
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="text-black">Magazine</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 bg-white" >
                    <div class="container h-100" >
                        <div class="row no-gutters h-100 align-items-center">
                            <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
                                <h2>Sign In</h2>
                                <p class="m-b-30">Welcome to Annual University Managazine of Greenwich</p>
                                <form asp-controller="Authentication" asp-action="Login" method="post">
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="userName">Username:</label>
                                        <div class="input-affix">
                                            <i class="prefix-icon anticon anticon-user"></i>
                                            <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="password">Password:</label>
                                        <div class="input-affix m-b-10">

                                            <i class="prefix-icon anticon anticon-lock"></i>
                                            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex align-items-center justify-content-between">

                                            <button type="submit" class="btn btn-primary">Sign In</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Core Vendors JS -->
    <script src="~/Student/assets/js/vendors.min.js"></script>

    <!-- page js -->
    <!-- Core JS -->
    <script src="~/Student/assets/js/app.min.js"></script>

</body>


<!-- Mirrored from www.themenate.net/enlink-bs/dist/login-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Nov 2023 07:24:24 GMT -->

</html>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}